.App {
  text-align: center;
}

.box-container {
  width: 100vh;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: auto;
}

.container {
  display: grid;
  width: 700px;
  height: 600px;
  grid-template-columns: repeat(7, 100px [col-start]);
  grid-template-rows: repeat(6, 100px [col-start]); 
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: rgb(255, 190, 49); 
  margin: 0 auto;
  justify-content: center;
 /*  border: 1px solid #737373; */
}

.box{
  border: 1px solid #737373;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: auto;
}

.color-container {
  display: flex;
  flex-flow: row wrap;
  margin: 30px 0;
  justify-content: center;
  width: 700px;
}

.color-box {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
